:root{
  --bgcolor: black;
}

body{
  background-color: var(--bgcolor);
}

.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number {
  margin: 1rem;
  padding: 0.5rem;
}
